/* Start of Tic Tac Toe CSS */
html, body {
  height: 100%;
}

body {
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

#gameMsg {
  color: white;
  position: absolute;
  margin: 10px;
}

#mask {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: none;
  display: none;
}

#board
}
